<div class="filter-dropdown status-filter" data-filter="status">

                <input
                    type="hidden"
                    id="statusFilter"
                    value="">

                <button class="filter-button">

                    <span>Status</span>
                    <span class="filter-arrow">▾</span>

                </button>


                <div class="filter-menu">

                    <div class="filter-option"
                        data-value="All"
                        data-label="Status">
                        All
                    </div>

                    <div class="filter-option" data-value="New">
                        New
                    </div>

                    <div class="filter-option" data-value="Seen">
                        Seen
                    </div>

                    <div class="filter-option" data-value="Updated">
                        Updated
                    </div>

                </div>

            </div>